#### Mutable Sequence

#### 1. List

List is similar as tuple but they are mutable

In [3]:
#list of integers
my_empty_list2 = [1, 2, 3]
my_empty_list2

[1, 2, 3]

In [4]:
#Every thing in python is an object, if you remember and an object has type, id, and value
type(my_empty_list2), id(my_empty_list2), my_empty_list2

(list, 140631732566048, [1, 2, 3])

In [1]:
my_tuple = (1,2,3)
# print(type(my_tuple))

#This is called as type casting. You can basically typecase one type to another in python like this

my_list3 = list(my_tuple)

print(type(my_list3))

<class 'list'>

In [6]:
#Define a list with different sequence of data types
my_empty_list4 = list((4, 'python', 2.111))
my_empty_list4

[4, 'python', 2.111]

A common mistake

In [7]:
my_empty_list5 = list('hello')
my_empty_list5

['h', 'e', 'l', 'l', 'o']

In [3]:
my_empty_list5 = list(['hello'])
my_empty_list5

['hello']

In [9]:
my_empty_list5 = ['hello']
my_empty_list5

['hello']

List Methods

##### A. Append

In [5]:
my_list3

[1, 2, 3]

In [6]:
my_list3.append('XYZ')
my_list3

[1, 2, 3, 'XYZ']

In [12]:
#It will raise an error because tuples are immutable
my_tuple = (1, 2, 3)
my_tuple.append(4)
my_tuple

AttributeError: 'tuple' object has no attribute 'append'

##### B. Count

In [7]:
my_list = [1, 1, 2, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1, 1]

#Count occurence of a certain element in a list. Lets say I want to know how many '1' occurs in my list
my_list.count(1)

4

In [8]:
#position of element
my_list.index('python')

4

In [15]:
my_list.count('python')

2

##### Other methods

In [9]:
my_list

[1, 1, 2, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1, 1]

In [10]:
# removes the right most element from the list
my_list.pop()

1

In [11]:
my_list

[1, 1, 2, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [12]:
# Pop an element from a certain position
my_list.pop(4)

'python'

In [13]:
my_list

[1, 1, 2, 3, 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [21]:
#Insert an element at a certain position
my_list.insert(2, 20)
my_list

[1, 1, 20, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [14]:
#Reverse your list in order
my_list.reverse()
my_list

[1, 'sql', 'python', 'Python', 3, 2, 'Java', 3, 2, 1, 1]

In [15]:
#Sort your list in increasing order
my_list = [1, 100, 2, 200, -1, -100]
my_list.sort()
my_list

[-100, -1, 1, 2, 100, 200]

In [16]:
#append a list to a list
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# we expect [1, 2, 3, 4, 5, 6]

my_list1.append(my_list2)
my_list1

[1, 2, 3, [4, 5, 6]]

In [25]:
#Extend
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# we expect [1, 2, 3, 4, 5, 6]

my_list1.extend(my_list2)
my_list1

[1, 2, 3, 4, 5, 6]

In [17]:
my_list = list((90, 56, 76, 34, 12, 10))
my_list

[90, 56, 76, 34, 12, 10]

In [27]:
#smallest element of list, largest element, sum of list, size of list

min(my_list), max(my_list), sum(my_list), len(my_list)

(10, 90, 278, 6)

#### 2. Bytearrays

In [18]:
bytearray()

bytearray(b'')

In [19]:
bytearray(10)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [20]:
language = bytearray(b'Python')
language

bytearray(b'Python')

In [21]:
language.replace(b'P', b'C')

bytearray(b'Cython')

In [22]:
language.endswith(b'on')

True

In [23]:
language.endswith(b'in')

False

In [24]:
language.upper()

bytearray(b'PYTHON')

#### 3. Set Types

Unordered unique collection of mutable objects

In [25]:
#Lets declare a list and traverse it

my_list = ['ABC', 'XYZ', 2, 5, 8.9]

# fourth element of a list
my_list[3]

5

In [26]:
my_set = set()
my_set

set()

In [27]:
my_set.add(20)
my_set

{20}

In [28]:
my_set.add(30)
my_set

{20, 30}

In [29]:
my_set.add(40)
my_set

{20, 30, 40}

In [30]:
my_set.add(50)
my_set

#same as
# my_set = {20, 30, 40, 50}
# my_set

{20, 30, 40, 50}

In [31]:
10 in my_set

False

In [32]:
my_set2 = {10, 11, 18, 20, 25, 30}
my_set2

{10, 11, 18, 20, 25, 30}

In [33]:
#No redundancy. Ignores repeated elements
my_set2.add(10)
my_set2

{10, 11, 18, 20, 25, 30}

In [34]:
#Union of two sets
my_set | my_set2

{10, 11, 18, 20, 25, 30, 40, 50}

In [35]:
#Intersection of two sets

my_set & my_set2

{20, 30}

In [36]:
#difference of two sets
my_set - my_set2

{40, 50}

In [37]:
my_set

{20, 30, 40, 50}

In [38]:
#since it is unordered so this would not work
my_set.sort()

AttributeError: 'set' object has no attribute 'sort'

A tuple is immutable and ordered

A list is mutable and ordered

A set is mutable and unordered

### Task
Create a variable of your name, another variable of your age, and another variable about your experience in no of years. 
Assign it to a tuple. Assign the tuple to a list and a set

#### 4. Dictionaries

In [39]:
#Data stored in a key : value format
my_first_dictionary = {'John' : 34, 'James' : 36, "Mary" : 30, "Ravi" : 45}
my_first_dictionary

{'John': 34, 'James': 36, 'Mary': 30, 'Ravi': 45}

In [40]:
#list all keys
my_first_dictionary.keys()

dict_keys(['John', 'James', 'Mary', 'Ravi'])

In [41]:
#List all values
my_first_dictionary.values()

dict_values([34, 36, 30, 45])

In [42]:
#List all pairs
my_first_dictionary.items()

dict_items([('John', 34), ('James', 36), ('Mary', 30), ('Ravi', 45)])

In [43]:
my_second_dictionary = {34 : 'John', 36 : 'James'}
my_second_dictionary

{34: 'John', 36: 'James'}

In [45]:
# list as a value
my_third_dictionary = {'my_first_list' : [1, 2, 3], "my_first_tuple" : (4, 5, 6)}
my_third_dictionary

{'my_first_list': [1, 2, 3], 'my_first_tuple': (4, 5, 6)}

In [46]:
print(my_third_dictionary['my_first_list'])

[1, 2, 3]

In [47]:
print(my_third_dictionary['my_first_tuple'])

(4, 5, 6)

In [48]:
#Replace the value for my_firsT_list
my_third_dictionary['my_first_list'] =  [0, 0, 0]
my_third_dictionary

{'my_first_list': [0, 0, 0], 'my_first_tuple': (4, 5, 6)}

In [49]:
#Keys should be unique.
my_dum_dictionary = {'Python' : 'Easy', 'Java' : 'Hard', 'Python' : 'Intermediate'}
my_dum_dictionary

{'Python': 'Intermediate', 'Java': 'Hard'}

In [52]:
#Remember I had already declared a set earlier
my_set

{20, 30, 40, 50}

In [53]:
my_third_dictionary

{'my_first_list': [0, 0, 0], 'my_first_tuple': (4, 5, 6)}

In [54]:
#adding one more key and a set as its value
my_third_dictionary['my_first_set'] = my_set
my_third_dictionary

{'my_first_list': [0, 0, 0],
 'my_first_tuple': (4, 5, 6),
 'my_first_set': {20, 30, 40, 50}}

In [55]:
my_third_dictionary['my_first_tuple'] = ('Python', 'python', 1, 2)
my_third_dictionary

{'my_first_list': [0, 0, 0],
 'my_first_tuple': ('Python', 'python', 1, 2),
 'my_first_set': {20, 30, 40, 50}}

In [56]:
my_third_dictionary['integer'] = 45
my_third_dictionary['name'] = "my unique dictionary"

my_third_dictionary

{'my_first_list': [0, 0, 0],
 'my_first_tuple': ('Python', 'python', 1, 2),
 'my_first_set': {20, 30, 40, 50},
 'integer': 45,
 'name': 'my unique dictionary'}

In [57]:
#will replace the existing key. A dictionary cannot have two keys with the same name and type
my_third_dictionary['name'] = "my dictionary"
my_third_dictionary

{'my_first_list': [0, 0, 0],
 'my_first_tuple': ('Python', 'python', 1, 2),
 'my_first_set': {20, 30, 40, 50},
 'integer': 45,
 'name': 'my dictionary'}

In [58]:
# number of key and value pairs
len(my_third_dictionary)

5

In [59]:
#perfrom search operation within keys. Not allowed within values directly
1 in my_third_dictionary

False

In [60]:
'integer' in my_third_dictionary

True

In [ ]:
Task:
    
    1. Create an empty dictionary, a list of countries, a list of respective capitals, a tuple of respective currencies and 
       a set of length of name of countries
    2. Add the created list of countries, a list of respective capitals, a tuple of respective currencies and 
       a set of  length of name of countries to the empty dictionary

In [1]:
Swagata={}

In [2]:
countries=["India","Finland","Japan"]
capital=["New Delhi","Helsinki","Tokyo"]
currencies=("INR","EUR","JPY")

In [3]:
lengths={len(country) for country in countries}

In [4]:
lengths

{5, 7}

In [5]:
Swagata["countries"]=countries
Swagata["capital"]=capital
Swagata["currencies"]=currencies
Swagata["lengths"]=lengths

Swagata

{'countries': ['India', 'Finland', 'Japan'],
 'capital': ['New Delhi', 'Helsinki', 'Tokyo'],
 'currencies': ('INR', 'EUR', 'JPY'),
 'lengths': {5, 7}}