In [1]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [5]:
print(sampleDict['class']['student']['marks']['history'])

80

In [6]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

In [7]:
keys=[sample_dict['name'],sample_dict['salary']]
keys

['Kelly', 8000]

In [8]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

In [9]:
del sample_dict['name']
del sample_dict['salary']

sample_dict

{'age': 25, 'city': 'New york'}