Task 1

In [2]:
list1 = ['book', 'man', 'woman']
list2 = ['character', 'python', 'location', 'green']
list3 = ['python', 'mumbai', 'melbourne']
list4 = ['parliament', 'sport', 'ecommerce']

Task 2

In [ ]:
1. Write a function which takes in a value 5(arbitrary) and prints you the output like this

*
**
***
****
*****

In [10]:
def func1(n):
    for j in range(n+1):
        print("*"*j)
        
func1(5)

*
**
***
****
*****

In [ ]:
2. Write a function which takes in a value 5(arbitrary) and prints you the output like this

    *
   * *
  *   *
 *     *
* * * * *

In [16]:
def func2(n):
    for i in range(1, n+1):
        for j in range(n - i):
            print(' ', end='')
        for k in range(2 * i - 1):
            if k == 0 or k == 2 * i - 2:
                print('*', end='')
            else:
                if i == n:
                    print('*', end='')
                else:
                    print(' ', end='')
        print()       
        
func2(5)

    *
   * *
  *   *
 *     *
*********

In [ ]:
3. Write a function which takes in a value 5(arbitrary) and prints you the output like this

    *
   ***
  *****
 *******
*********

In [18]:
def func3(n):
    for i in range(1, n+1):
        for j in range(n - i):
            print(' ', end='')
        for k in range(2 * i - 1):
            print('*', end='')
        print()
    
func3(5)

    *
   ***
  *****
 *******
*********

In [ ]:
4. Write a function which takes in a value 5(arbitrary) and prints you the output like this

* * * * *
*       *
*       *
*       *
* * * * *

In [28]:
def func4(n):
    for i in range(n):
        for j in range(n):
            if i==0 or i==n-1 or j==0 or j==n-1:
                print("* ",end='')
            else:
                print("  ",end='')
        print()
            
func4(5)

* * * * *
*       *
*       *
*       *
* * * * *